* {
    box-sizing: border-box;
}


body {
    scrollbar-width: none;
    background-color: #f39c12;
    font-family: 'Lato', sans-serif;
}




.containerPublicityUp {
    display: block;
    width: 100%;
    background-color: #f39c12;
}

.publicityUp {
    position: absolute;
    display: flex;
    width: 90%;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.publicityUp img {
    width: 100%;
}





.headContainer {
    display: flex;
    width: 90%;
    background-color: #f39c12;
    margin-right: auto;
    margin-left: auto;
}

.containerHeadPublicity {
    display: flex;
    position: relative;
    width: 28%;
}

.headPublicity img {
    display: flex;
    max-height: 200px;
    width: 100%;
}

.containerHeadLogo {
    display: flex;
    flex-direction: row;
    width: 74%;

}

.headLogo img {
    max-height: 200px;
    display: flex;
    width: 100%;
}








.containerMenu {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 50px;
    margin: 10px 0;
    font-weight: normal;
    text-transform: uppercase;
    font-family: sans-serif;
    background-color: #c0392b;
}

.inicioMenu {
    position: relative;
    display: inline-block;
}

.menuBTN {
    background-color: #d35400;
    color: beige;
    padding: 3px;
    border: none;
    cursor: pointer;
}

.menuContent {
    display: none;
    margin-right: auto;
    background-color: #d35400;
    min-width: 160px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
}

.menuContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menuContent a:hover {
    background-color: #d35400;
}

.inicioMenu:hover .menuBTN {
    background-color: #c0392b;
}

.inicioMenu:hover .menuContent{
    display: block;
}





/* //Anterior Menú
.inicioMenu ul {
    display: flex;
    height: 100%;
    list-style: none;
    font-size: 2vw;
    padding: 0 0;
    margin: 0;
    position: sticky;
    left: 0;
    align-items: center;
}

.active {
    background-color: #d35400;
}

.inicioMenu li{
    float: left;
    padding: 1%;


}



.inicioMenu li a{
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
}

.inicioMenu li:hover {
    color: rgb(255, 255, 255);
}



.inicioMenu ul li:hover {
    background-color: #d35400;
}


.inicioMenu ul li:hover a {
    color: rgb(255, 255, 255);
}


 */





.containerMainNews {
    width: 90%;
    max-height: 450px;
    display: flex;
    flex-wrap: nowrap;
    margin-right: auto;
    margin-left: auto;
}

.mainNews{
    display: flex;
    align-items: center;
    margin-right: 5px;
    width: 80%;
    background: #d3540060;
}

.containerImageMainNews {
    display: flex;
    width: 65%;
    height: 100%;
    position: relative;
    margin: 0;
}

.imageMainNews img {
    width: 100%;
    object-fit:contain;
    transition: 2s;
    height: 100%;
}

/* .direcciones{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
} 

.direcciones a {
    color: #fff;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}

.direcciones a:hover {
    background: #f59d1b70;
    transition: .5s;
}

.barras {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.barra {
    cursor:pointer;
    height: 4px;
    width: 25px;
    margin: 0 2px;
    background: #ecebeb;
    display: inline-block;
    margin-left: 3px;
}

.active {
    background: #f59d1b;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}


@keyframes fade {
    from {opacity: .4;}
    to{opacity:1;}
}

*/


.containerTextMainNews {
    display: flex;
    width: 45%;
    height: auto;
    max-height: 450px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
}

.titleMainNews {
    width: 100%;
    margin-bottom: auto;
    text-align: center;
    font-size: 2.5vw;
    font-family: Verdana;
}


.textMainNews {  
    width: 100%;
    padding: 0 5px;
    margin-top: auto;
    font-size: 1.9vw;
    text-align: center;
}






.containerPublicityMainNews {
    display: flex;
    width: 20%;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
}

.publicityMainNews {
    display: flex;
    width: 100%;
    
}

.publicityMainNews img {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    margin-left: auto;
}








.containerBarPublicity {
    display: block;
    width: 100%;
    background-color: #f39c12;
}

.barPublicity {
    position: absolute;
    display: flex;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.barPublicity img{
    width: 100%;
}





.containerAllSecundaryNews {
    display: flex;
    width: 90%;
    position: relative;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    
}

.containerSecundaryNews {
    display: flex;
    width: 80%;
    margin-right: 5px;
}

.secundaryNews {
    margin: 0px 2px 0px 2px;
    background: #d3540060;
    padding: 5px;
    width:35%;
}

.containerImageSecundaryNews {
    width: 100%;
}

.containerImageSecundaryNews img {
    max-width: 250px;
    width: 100%;
    height: 100%;
    
}

.containerTextSecundaryNews {  
    position: relative;
  }



.titleSecundaryNews {
    text-align: center;
    font-family: Verdana;
    font-size: 2.5vw;
}


.textSecundaryNews {  
    text-align: center;
    font-size: 1.9vw;
}



.containerPublicitySecundaryNews {
    display: flex;
    width: 20%;
    position: relative;
    flex-direction: column;
}

.publicitySecundaryNews {
    display: flex;
    width: 100%;
    
}

.publicitySecundaryNews img {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    margin-left: auto;
}






.containerAllOtherNews {
    background: #d3540060;
    display: flex;
    width: 90%;
    height: 50%;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.otherNews {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
}

.superiorBarOtherNotice {
    width: 100%;
    float: left;
    font-size: 2.7vw;
}

.containerOtherNews {
    display: flex;
    padding: 5px;
    width:33%;
    height: auto;
}

.titleOtherNews1 {
    font-weight: 600;
    font-size: 2.5vw;
}

.textOtherNews1 {
    width: 100%;
    font-size: 1.9vw;
}





