* {
    box-sizing: border-box;
}


body {
    scrollbar-width: none;
    background-color: #f59d1b;
    height: 100%;
    font-family: 'Lato', sans-serif;
}




.containerPublicityUp {
    display: flex;
    flex-direction: row;
    background-color: #f59d1b;
    padding: 0 0 10px 0;
}

.publicityUp {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}





.headContainer {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 30vh;
}

.containerHeadPublicity {
    align-items: flex-start;
    position: absolute;
    background-color: darkgoldenrod;
    height: 20px;
    display: flex;
    flex-direction: row;
}

.headLogo {
    width: auto;

}

.containerHeadLogo {
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: row;
}







.containerMenu {
    display: flex;
    position: sticky;
    justify-content: center;
    border: 1px solid black;
    background-color: #f59d1b;
}

.inicioMenu {
    position: relative;
    color: #1b1f1d;
}

.inicioMenu ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.inicioMenu li {
    color: #f59d1b;
    background-color: brown;
    padding: 10px;
    font-size: 22px;
    border: 1px solid black;
}

.inicioMenu ul li a{
    color: darkorange;
    text-decoration: none;
}

.inicioMenu li:hover {
    background-color: #f59d1b;
    color: #1b1f1d;
    font-size: 20px;
}

.inicioMenu {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.inicioMenu ul li:hover {
    background-color: brown;
}


.inicioMenu ul li:hover a {
    color: black;
    font-size: 20px;
}

