* {
    box-sizing: border-box;
}





.containerAllMainNews {
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.containerMainNews{
    display: flex;
    flex-wrap: wrap;
    margin-right: 5px;
    width: 80%;
    border: 1px solid #e67e22;
    background: #ecf0f1;
    align-items: center;
}



.mainNews {
    display: flex;
    flex-direction: column;
}

.containerSectionMainNews {
    display: flex;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sectionMainNews {  
    width: 100%;
    font-weight: 500;
    font-size: 1.5vw;
    text-align:start;
    color: #2c3e50;
    float: left;
    border-bottom: 1.5px solid #e67e22;
    margin-bottom: 15px;
}


.titleMainNews {
    width: 95%;
    margin-left: 2.5%;
    text-align: center;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4vw;
    color: #34495e;
}

.containerImageMainNews {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.containerImageMainNews img {
    width: 100%;
    object-fit:contain;
    height: 100%;
}

.containerDateMainNews {
    display: flex;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dateMainNews {  
    width: 100%;
    font-weight: 400;
    font-size: 1.2vw;
    text-align:start;
    color: #2c3e50;
}

.containerWrittenMainNews {
    display: flex;
    width: 85%;
    margin: 2vw auto 2vw 10%;
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.writtenImage {
    width: 11%;
    height: 11%;
}



.writtenMainNews {
    width: 100%;
    font-weight: 500;
    font-size: 1.8vw;
    text-align: start;
    color: #2c3e50;
}

.writtenMainNews p {
    flex-direction: column;
    margin: 0 3vw;
    text-transform: uppercase;
}

.writtenMainNews h1 {
    margin: 0 3vw;
    text-transform: uppercase;
}

.by {
    font-weight: 500;
    font-size: 1.6vw;
}

.writtenMainNews h1{
    font-weight: 550;
    font-size: 1.5vw;
}




.containerDescentMainNews {
    display: flex;
    width: 90%;
    margin: 1.5vw auto;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.descentMainNews {  
    width: 100%;
    padding: 0 0.5vw;
    margin-top: 0.1%;
    font-weight: 300;
    font-size: 1.5vw;
    color: #2c3e50;
}

.containerTextNews {
    display: flex;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    padding: 2% 2% ;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.textNews {  
    text-align: start;
    width: 100%;
    padding: 0 0.5vw;
    margin-top: 4%;
    font-weight: 300;
    font-size: 1.5vw;
    color: #2c3e50;
}







.containerPublicityMainNews {
    display: flex;
    width: 20%;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
}

.publicityMainNews {
    display: flex;
    width: 100%;
    
}

.publicityMainNews img {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    margin-left: auto;
}








.containerBarPublicity {
    display: block;
    width: 100%;
}

.barPublicity {
    display: flex;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}

.barPublicity img{
    width: 100%;
}








/* 
.containerAllOtherNews {
    background: #ecf0f1;
    display: flex;
    width: 90%;
    height: 50%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid #e67e22;
}

.containerOtherNewsTitle {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.superiorBarOtherNews {
    width: 100%;
    padding: 0 1.5%;
    float: left;
    font-size: 2.6vw;
    color: #2c3e50;
    border-bottom: 1.5px solid #e67e22;
    margin-bottom: 15px;
}

.containerOtherNews {
    display: flex;
    padding: 0 2%;
    width:33.3%;
    height: auto;
}

.titleOtherNews1 {
    padding: 0 1%;
    text-align: center;
    font-weight: 400;
    font-size: 2.5vw;
    color: #2c3e50;
}

.textOtherNews1 {
    padding: 0 2%;
    text-align: center;
    width: 100%;
    font-weight: 300;
    font-size: 1.5vw;
    color: #34495e;
}




 */


